root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{ps1,bat,cmd}]
end_of_line = crlf

[*.go]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.sln]
end_of_line = crlf
indent_style = tab
indent_size = 4

[*.py]
indent_size = 4

[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# C# files
[*.{cs,vb}]
indent_size = 4
max_line_length = 120
